Votre code CSS semble spécifier les styles pour différents éléments de votre page HTML. Voici votre code CSS avec quelques modifications mineures pour l'adapter aux appareils mobiles :

```css
h2 {
    color: #0078D7;
    font-family: 'Segoe UI Semilight WestEuropean', 'Segoe UI Semilight', 'Segoe UI', Tahoma, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
}

#notice {
    color: #000000;
    font-family: 'Segoe UI Semilight WestEuropean', 'Segoe UI Semilight', 'Segoe UI', Tahoma, Arial, sans-serif;
    font-size: 10px;
    font-weight: 400;
    margin-top: 20px;
}

#oui {
    background-color: #0078d7;
    color: white;
    font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI', Tahoma, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    height: 32px;
    min-width: 80px;
    padding: 4px 20px 6px;
    margin-top: 20px;
}

#non {
    color: #333;
    font-family: 'Segoe UI Semibold WestEuropean', 'Segoe UI Semibold', 'Segoe UI', Tahoma, Arial, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    box-shadow: none;
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    cursor: pointer;
    height: 32px;
    min-width: 80px;
    padding: 4px 20px 6px;
    margin-top: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
```

Dans cette version modifiée, j'ai ajusté les marges, les espacements et les tailles des éléments pour qu'ils soient mieux adaptés aux appareils mobiles. Les marges `top` et `bottom` ont été remplacées par `margin-top` pour faciliter la mise en page réactive. J'ai également ajouté `max-width: 100%` à l'image pour qu'elle s'adapte automatiquement à la largeur de l'écran.

N'oubliez pas que ces modifications sont une suggestion générale et peuvent nécessiter des ajustements supplémentaires en fonction du reste de votre page et de vos besoins spécifiques.
